@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
.font-inter {
  font-family: "Inter", sans-serif !important;
}
.font-raleway {
  font-family: "Raleway", sans-serif !important;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
}
.font-8 {
  font-size: 8px;
  color: #324158;
}
.font-10 {
  font-size: 10px !important;
}

.font-xs {
  font-size: 13px !important;
}
.text-sm {
  font-size: 12px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-base {
  font-size: 16px !important;
}
.font-md {
  font-size: 21px !important;
}
.font-md1 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-lg {
  font-size: 32px !important;
}

.font-xl {
  font-size: 36px !important;
}
.font-base {
  font-size: 16px !important;
}
.font-xxl {
  font-size: 60px !important;
}

.bg-orange {
  background: #ffd1c4 !important;
}
.bg-purple {
  background: #e0cffc !important;
}
.bg-green {
  background: #c9f2c7 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.text-light-gray {
  color: #737791 !important;
}
.font-variation {
  /* font-variation-settings: "wght" 400!important; */
  max-width: 500px !important;
  text-align: center;
}

.mt-6 {
  margin-top: 7rem !important;
}
.navbar-nav-dashboard {
  list-style: none;
}
.navbar-nav li a {
  color: #324158 !important;
  font-weight: 500 !important;
}

.py-6 {
  padding: 6rem 0 !important;
}

.navbar-nav li a :active {
  font-weight: 700 !important;
}

.profile {
  position: relative;
}

/* menu (the right one) */

.menu {
  position: absolute;
  right: 20px;
  top: 100px;
  background: #fff;
  z-index: 55;
  width: 250px;
  height: 200px;
  padding: 10px 0px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease;
}
.menu li a img {
  height: 20px !important;
  margin-right: 2px !important;
}

.menu.active {
  visibility: visible;
  opacity: 1;
}

.menu li {
  list-style: none;
  padding: 10px 0;
}

.menu li a {
  text-decoration: none;
  color: #324158 !important;
}

.menu li a:hover {
  color: #324158 !important;
  font-weight: 700;
}

.bg-main-blue {
  background: #324158 !important;
}

.text-blue {
  color: #324158 !important;
}
.text-light-blue {
  color: #4079ed !important;
}
.text-blue-50 {
  color: #324158b0 !important;
}
.main-btn a {
  font-size: 17px !important;
  font-weight: 700 !important;
}

.main-btn a:nth-child(2):hover {
  background: #324158 !important;
  color: #fff;
}

.bg-header {
  background-color: #e3e3e3 !important;
}

.border-end {
  border-right-color: #324158 !important;
}

.border-start {
  border-left-color: #324158 !important;
}
.p-40 {
  padding: 40px 40px 10px 40px !important;
}
.section-feed {
  max-width: 850px;
}
.section-dashboard {
  max-width: 1300px !important;
}
.section-w {
  max-width: 1550px !important;
}

.section-w1 {
  max-width: 1100px;
}
.section-w3 {
  max-width: 750px !important;
}
.section-w2 {
  max-width: 500px;
}

.modal-body {
  width: 40vw !important;
}

.modal-backdrop {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; /* Change to your desired color */
  backdrop-filter: blur(100px); /* Adjust the blur intensity */
}

.top1 {
  top: -52px !important;
  inset: 0px;
  padding: 50px 0 !important;
}

.circle {
  height: 70px;
  width: 70px;
  background: #ffffffd3;
  border: 1px solid #fff;
  border-radius: 50%;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-div1 {
  position: absolute;
  bottom: -50px !important;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-10 {
  bottom: 10px !important;
}

/* .bg-page{
    background: #fff 60%!important;
} */

.bg-page {
  background: #f2f2f2;
}

.flex-grow-3 {
  flex-grow: 4;
}
.bg-blur1 {
  filter: blur(70px);
  width: 10%;
  left: -20px;
  background: linear-gradient(to right, #f2f2f2ea, #f2f2f2);

  height: 100%;
}

.bg-blur2 {
  filter: blur(70px);
  width: 10%;
  right: -20px;
  background: linear-gradient(to right, #f2f2f2ea, #f2f2f2);

  height: 100%;
}

.h-300 {
  height: 320px !important;
}

.img1 {
  height: 370px !important;
}

.img2 {
  left: 0;
  height: 450px !important;
  top: -80px;
}

.bg-blur3 {
  filter: blur(10px);
  width: 10%;
  left: -20px;
  background: linear-gradient(to right, #324158d3, #324158);
  /* background: #324158; */
  height: 100%;
  z-index: 10;
}

.bg-blur4 {
  filter: blur(10px);
  width: 15%;
  right: -20px;
  background: linear-gradient(to right, #324158d3, #324158);

  height: 100%;
  z-index: 10;
}

.bg-main-blue1 {
  background: linear-gradient(to right, #324158 6%, #324158 58%, #324158 0%);
}

.accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;

  font-size: 30px !important;
}

.accordion-item {
  background-color: #ececec !important;
}

.accordion-button::after {
  background-image: url(/assests/plus.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/assests/xmark.png);
}

.accordion-body {
  color: #324158 !important;
  font-size: 18px !important;
}
.support-accordion .accordion-body {
  color: #324158 !important;
  font-size: 10px !important;
}
.support-accordion .accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;

  font-size: 16px !important;
}

.right-0 {
  right: 0px;
  top: 10px;
}

.footer-links h1,
.footer-contact h1 {
  font-size: 24px !important;
}

.footer-links ul {
  padding: 0 !important;
}

.footer-links ul li {
  list-style: none;
  font-size: 16px !important;
  font-family: "Inter", sans-serif;
  line-height: 2.5rem !important;
}

.footer-links ul li a {
  color: #324158 !important;
  text-decoration: none;
}

.footer-logo img {
  margin-top: -60px;

  margin-left: -70px;
}

/* signup page */

.signup-logo {
  margin-left: -45px !important;
}

.form {
  max-width: 600px !important;
}

.form input {
  background: transparent;
  border: none !important;
  border-bottom: 2px solid #32415896 !important ;
  font-family: "Inter" !important;
  position: relative;
}
.form input:focus {
  border-bottom: 2px solid #324158;
  outline: none;
}

.eye {
  right: 10px;
  top: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}
input[type="text"] {
  -webkit-text-security: none !important;
}

.hr {
  margin-top: 30px !important;
  height: 2px !important;
  background: #32415888 !important;
}
.or {
  margin-top: -14px;
  background: #fff !important;
  width: 30px;
}

.swiper-slide {
  width: 250px !important;
  height: 450px !important;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

/* Active slide - expanded container */
.swiper-slide-active {
  width: 400px !important;
  height: 450px !important;
}

/* Image styling for ALL slides */
.swiper-slide img {
  /* width: 250px !important;  */
  height: auto !important; /* Natural height */
  max-width: 100%; /* Constrain to container */
  max-height: 100%; /* Constrain to container */
}

/* Active slide image - force full width */
.swiper-slide-active img {
  width: 100% !important; /* Fill container width */
  height: 450px !important;
}

/* ***************************************creator */

.swiper-slide1 {
  /* width: 250px !important; */
  height: 650px !important;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

/* Active slide - expanded container */
.swiper-slide-active1 {
  width: 400px !important;
  height: 650px !important;
}

/* Image styling for ALL slides */
.swiper-slide img {
  /* width: 250px !important;  */
  height: auto !important; /* Natural height */
  max-width: 100%; /* Constrain to container */
  max-height: 100%; /* Constrain to container */
}

/* Active slide image - force full width */
.swiper-slide-active img {
  width: 100% !important; /* Fill container width */
  height: 650px !important;
}

.signin a {
  text-decoration: none;
}

/* **************************************** Feed ************************************************* */

.brand-text {
  font-size: 10px !important;
}
.brand-text img {
  width: 12px !important;
}

.main-nav,
.responsive-nav {
  height: 100px !important;
}
.p1-40 {
  padding: 40px !important;
}

.userIcon {
  height: 50px !important;
  width: 50px !important;
}
.search-bar input {
  width: 550px;
  border: 2px solid #ececec;
}
.searchIcon {
  height: 20px !important;
  position: absolute;
  right: 20px;
  top: 10px;
}

input::placeholder {
  color: #aaa; /* Lighter placeholder text */
}
.search-bar input:focus {
  outline: none;
}
.nav-item a {
  position: relative;
  text-decoration: none; /* Removes default underline */
  color: black; /* Adjust color as needed */
  padding-bottom: 5px; /* Space for the underline */
}
.nav-item-dashboard a {
  color: #fff !important;
}
.navbar-nav .nav-item a.active {
  position: relative;
}
.navbar-nav .nav-item a.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 70px !important;

  background: #324158;
  bottom: -10px;
  left: -20px;
}
.nav-notification {
  top: -8px;
  right: -15px;
}
.msg-notification {
  top: -8px;
  right: 0px;
}
.nav-item a::after {
  content: "";
}

.nav-item a:hover::after {
  width: 100px;
}
.bg-light-gray {
  background: #f2f2f2 !important;
  height: 100% !important;
}

.sidebar {
  padding-top: 2rem !important;
}
.side-notification {
  top: -6px;
  font-size: 10px !important;
  font-weight: bolder !important;
  left: 10px;

  padding: 0 6px;
  height: 25px;
  width: 20px;
  text-align: center;
  background: #324158;
}
.sidebar ul li {
  list-style: none;

  margin: 1.6rem 0 !important;
}

.sidebar ul li a {
  font-family: "Inter" !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  letter-spacing: -2% !important;
  text-decoration: none;
  color: #324158 !important;
}
.sidebar ul li a:visited,
.sidebar ul li a:hover {
  font-weight: 700 !important;
}
.sidebar ul {
  padding-left: 1rem !important;
}

.sidebar ul li a img {
  height: 22px !important;
  width: 22px !important;
  margin-right: 10px;
}

.sidebar .sidebar-text {
  margin-left: 0.5rem !important;
}
.sidebar {
  width: 18% !important;
  background: #fff !important;
  height: calc(100vh - 100px) !important;
  overflow-y: auto;
}
.subscription-wrapper {
  height: calc(100vh - 100px) !important;
  width: 60% !important;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.creator-wrapper {
  height: calc(100vh - 100px) !important;
  width: 74% !important;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.message-wrapper {
  height: calc(100vh - 100px) !important;
  width: 60% !important;
  display: flex;

  justify-content: center;
}

.subscription-wrapper::-webkit-scrollbar,
.feed-chat::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 0;
}
.feed-chat {
  width: 20% !important;
  background: #fff !important;
  height: calc(100vh - 100px) !important;
  overflow-y: auto !important;
}
.feed-subscription {
  width: 100% !important;
}
.creator-dashboard {
  width: 100% !important;
}
.chat-wrapper {
  min-height: calc(100vh - 100px) !important;
  overflow-y: auto;
}
nav .main-nav {
  display: flex;
}
.responsive-nav {
  display: none !important;
}

.feed-chat h1 {
  font-family: "Inter" !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  letter-spacing: -2% !important;
}
.chat-heading {
  border-bottom: 1px solid #b5bac3;
}

.feed-chat .chat-icon {
  width: 50 !important;
  height: 50 !important;

  border-radius: 50% !important;
}

.feed-chat .chat-icon .icon-name,
.feed-chat .chat-icon .chat-text {
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 13px;
  opacity: 0.5;
  letter-spacing: 0px;
  color: #324158;
}
.message-header h5,
.message-header p {
  font-family: "Inter";
  font-weight: 500 !important;
  font-size: 13px;
}

.message-header {
  border-bottom: 1px solid #b5bac3;
  padding: 1rem 0;
}

.feed-chat .notification {
  height: 16px !important;
  width: 16px !important;
  background: #324158 !important;
  color: #fff !important;
  border-radius: 50% !important;
  font-size: 12px !important;
  right: -25px;
  top: 15px;
}

.feed-main1 h1 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.feed-title img {
  border-radius: 50% !important;
}
.feed-title .profile-name {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -2%;
}

.feed-title .designation,
.creator-name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.feed-wrapper .post-img {
  min-height: 100% !important;
  width: 100%;
}

.profession {
  font-family: "Inter";
  font-weight: 500;
  font-size: 8px;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
}
.creator-description {
  font-family: "Inter";
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #b5bac3 !important;
  text-align: center;
}

.feed-img-11,
.feed-img-22 {
  width: 100%; /* Removed !important to allow flexibility */
  height: auto; /* Maintain aspect ratio */
}

.post-img img {
  width: 100%;
  height: 100%;
}

.order-111 {
  order: -1 !important;
}

.see_more {
  position: relative;
  display: inline-block;
}
.sidebar li:last-child a {
  position: absolute;
  bottom: 40px;
}
.arrow-more {
  position: relative;
  display: inline-block;
}

.arrow-more::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assests/arrow.svg) center center no-repeat; /* Center the image */
  background-size: contain; /* Ensures the image scales nicely */
  background-color: rgba(50, 65, 88, 0.7);
  background-size: 20px 20px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50% !important;

  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.video-play img{
  width: 100%!important;
  
}
.video-play {
  position: relative;
  display: inline-block;
}

.video-play::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assests/play.svg) center center no-repeat; /* Center the image */
  background-size: contain; /* Ensures the image scales nicely */
  background-color: rgba(50, 65, 88, 0.3);
  background-size: 40px 40px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.see_more::after {
  content: "See More";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 65, 88, 0.7);
  top: 0;
  left: 0;
  color: white;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.see_more::after {
  opacity: 1;
}

.more-info {
  top: 30px;
  right: 30px;
}

.like-section {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #324158;
  border-top: 1px solid #b5bac3;
}
.like-section a {
  text-decoration: none;
  color: #324158;
}
#chatIcon {
  display: none;
}

.sidebar-icon {
  display: none;
}

.chat-side-icon img {
  height: 30px;
  width: 30px;
}
.post-text p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #324158;
}

#sidebar-close-icon {
  display: none !important;
}
#closeChat,
#closeSidebar {
  display: none !important;
}

.center-creator-img {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscription-bg-img img {
  width: 100%;
}

.featured-img {
  top: -267px;
  height: 450px !important;
}

.featured-subscription .featured-img {
  top: -167px;
  height: 280px !important;
}
.chat-name,
.chat-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;

  letter-spacing: 0px;
}
.bg-blur-explore {
  filter: blur(40px);
  position: absolute;

  background: linear-gradient(to top, #fff, #fff);
  top: -200px;
  width: 100%;
  height: 200px;
  z-index: 2;
}

/* profile  */

.profile-form label {
  font-family: "Inter";
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  color: #324158B5!important;
}
.profile-form form input,
.profile-form form select {
  border: none;
  border-bottom: 2px solid #3241588a;
  border-radius: 0;
  padding: 0;
  margin-bottom: 20px !important;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 1px ;
  color: #324158;
}
.wallet h4{
  font-family: Inter;
font-weight: 600;
font-size: 12px;
line-height: 32px;
letter-spacing: 0px;
color: #324158!important;

}


.wallet{
  color: #324158;
}

.profile-form input::placeholder{
  color: #324158!important;

}
.input-img2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.input-img3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.input-img4 {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.form-control:focus,
.form-control:focus-visible {
  box-shadow: none !important;
  background: none;
  outline: none !important;
}

.subscription-managemnet-wrapper,
.wallet {
  border-bottom: 1px solid #b5bac3;
  padding: 10px 0rem;
}
.subscription-management-tile img {
  padding: 0 20px 0 0 !important;
}
.subscription-management-tile h6 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0px;
}
.subscription-management-tile p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 0px;
}

.subscription-cancel h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 10px;
  color: #e71b1b;
  letter-spacing: 0px;
}
.subscription-cancel p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 8px;

  letter-spacing: 0px;
}
.feed11 input {
  height: 10px;
  width: 10px;
  margin: auto 1rem auto 0;
}
.payment-history th {
  font-family: "Inter";
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #324158;
}

.payment-history td {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #324158;

  font-variant-numeric: lining-nums proportional-nums;
}
.support-form input::placeholder {
  color: #32415880 !important;
  letter-spacing: 1px;
}
.support-form select option[disabled] {
  color: #32415880 !important;
  letter-spacing: 1px;
}
.support-form .select-img {
  top: 15px;
  right: 0;
}
.wallet2,
.wallet1 {
  min-height: 160px !important;
}

.wallet2 img {
  min-height: 160px;
}
.message-receive .bg-message {
  background: #b5bac37d;
  color: #324158;
  width: fit-content;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  /* line-height: 32px; */
  letter-spacing: 0px;
}
.message-receive img {
  height: 16px !important;
  width: 16px !important;
  bottom: 20px;
  left: -20px;
}
.message-sent .bg-message {
  background: #324158;
  color: #fff;
  width: fit-content;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
  letter-spacing: 0px;
}
.message-sent img {
  height: 16px !important;
  width: 16px !important;
  bottom: 20px;
  right: -20px;
}

.deactivate {
  font-family: "Inter";
  font-weight: 600;
  font-size: 7px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #b5bac3;
}
.input-field {
  border: none;
  background-color: #f2f2f2 !important;
}

.message-body {
  height: calc(100vh - 400px) !important;
  width: 100%;
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: none;
}
.message-body::-webkit-scrollbar {
  width: 0;
}

.sidebar-dashboard {
  width: 15% !important;
}
.creator-img {
  border-radius: 50% !important;
}

/* Dashboard panel */

.profile-text p {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -2%;

  color: #b5bac3;
}
.profile-text span {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -2%;

  color: #324158;
}
.sidebar ul li a.active {
  font-weight: bold !important; /* Change to desired weight */
  color: #324158 !important; /* Change to desired color */
}
.subscribed-right- {
  right: 18px;
  top: 10px;
}
#profileImage {
  height: 80px !important;
  width: 80px !important;
}
/* responsive */

/* homepage */

@media screen and (max-width: 1750px) {
  .feed-chat {
    width: 23% !important;
  }
  .sidebar {
    width: 22% !important;
  }

  .search-bar input {
    width: 400px;
    border: 2px solid #ececec;
  }
}

@media screen and (max-width: 1480px) {
  .search-bar input {
    width: 350px;
    border: 2px solid #ececec;
  }
  .feed-chat .chat-text {
    font-size: 12px !important;
  }
  .sidebar .sidebar-text {
    font-size: 14px !important;
  }
  .sidebar ul li a img {
    margin-right: 5px !important;
  }
  .subscription-wrapper100 {
    width: 58% !important;
  }
  .message-wrapper {
    width: 100% !important;
  }

  .p1-40 {
    padding: 30px !important;
  }
  .font-xxl {
    font-size: 55px !important;
  }
  .sidebar {
    width: 24% !important;
  }
  .sidebar-dashboard {
    width: 18% !important;
  }
  .feed-chat {
    width: 26.5% !important;
  }
  .center-creator-img {
    top: 28% !important;
  }
}
@media screen and (max-width: 1400px) {
  .menu {
    right: 0;
    width: 220px;
  }
}

@media screen and (max-width: 1280px) {
  #chatBox {
    display: none;
  }
  .navbar-nav .nav-item a.active {
    position: relative;
  }
  .navbar-nav .nav-item a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 70px !important;

    background: #324158;
    bottom: -10px;
    left: -20px;
  }

  .main-nav {
    display: none !important;
  }
  #closeChat,
  #closeSidebar {
    display: flex !important;
  }

  .responsive-nav {
    display: block !important;
  }
  .sidebar {
    position: absolute;
    width: 30% !important;
    z-index: 10;
    display: none;
  }
  .sidebar-dashboard {
    width: 27% !important;
  }
  .feed-chat {
    position: absolute;
    width: 32% !important;
    z-index: 10;
    right: 0;
    display: none;
    /* transition: all 5s; */
  }
  #chatIcon,
  .sidebar-icon {
    display: flex;
  }
  .featured-subscription .featured-img {
    top: -170px;
    height: 280px !important;
  }

  .subscription-wrapper {
    height: calc(100vh - 100px) !important;
    width: 100% !important;
  }
  .creator-wrapper {
    width: 100% !important;
  }
  .sidebar-icon-width {
    height: 30px !important;
    width: 30px !important;
    /* margin-left: 20px !important; */
  }
  .chat-side-icon {
    height: 30px !important;
    width: 30px !important;
  }
  .chat-close-icon img,
  .sidebar-close-icon img {
    width: 30px !important;
    height: 30px !important;
  }

  #chatBox {
    display: none;
  }
  .font-xxl {
    font-size: 44px !important;
  }
  .font-md1 {
    font-size: 20px;
  }
  .sidebar {
    padding-top: 0rem !important;
  }
  .section-feed {
    max-width: 100% !important;
  }
  .modal-body {
    width: 65vw !important;
  }
  .exclusivecontent .font-xl {
    font-size: 26px !important;
  }
  .exclusivecontent .font-lg {
    font-size: 22px !important;
  }
  .center-creator-img {
    top: 43% !important;
  }
}
@media screen and (max-width: 1100px) {
  .center-creator-img {
    top: 40% !important;
  }
}
@media screen and (max-width: 998px) {
  .footer-links h1,
  .footer-contact h1 {
    font-size: 20px !important;
  }
  .footer-links ul li a {
    font-size: 14px !important;
  }
  .footer-contact .font-xs {
    font-size: 11px !important;
  }
  .footer-logo img {
    max-width: 280px !important;
  }
  .footer-logo .font-base {
    font-size: 14px !important;
  }
  .bg-blur3 {
    display: none;
  }
  .w-48 {
    width: 48%;
  }

  .bg-blur4 {
    display: none;
  }

  .feed-chat {
    position: absolute;
    width: 35% !important;
    z-index: 10;
    right: 0;
    display: none;
    /* transition: all 5s; */
  }

  .center-creator-img {
    top: 34% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sidebar {
    position: absolute;
    width: 40% !important;
    z-index: 10;
    display: none;
  }
  .sidebar-dashboard {
    width: 32% !important;
  }
  .feed-chat {
    position: absolute;
    width: 40% !important;
    z-index: 10;
    right: 0;
    display: none;
  }

  .signin img {
    height: 15px !important;
  }
  .signin a span {
    font-size: 12px !important;
  }

  .exclusivecontent {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .exclusivecontent::-webkit-scrollbar,
  .feed-main1 .bg-white ::-webkit-scrollbar {
    width: 0;
  }
  .exclusivecontent .font-xl {
    font-size: 22px !important;
    text-wrap-mode: nowrap;
    margin-left: 250px !important;
  }
  .exclusivecontent .font-lg {
    font-size: 18px !important;
    min-width: 200px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .font-xl {
    font-size: 24px !important;
  }

  .center-creator-img {
    top: 42% !important;
  }

  .payment-history td {
    min-width: 150px !important;
  }
  .font-xxl {
    font-size: 36px !important;
  }
  .font-lg {
    font-size: 18px !important;
  }

  .ms-500 {
    margin-left: 250px !important;
  }
  .modal-body {
    width: 75vw !important;
  }

  .sidebar {
    position: absolute;
    width: 40% !important;
    z-index: 10;
    display: none;
  }

  .feed-chat {
    position: absolute;
    width: 43% !important;
    z-index: 10;
    right: 0;
    display: none;
  }
  #chatIcon {
    display: flex;
  }
  .sidebar-icon-width {
    height: 25px !important;
    width: 25px !important;
    /* margin-left: 15px !important; */
  }
  .chat-side-icon {
    height: 25px !important;
    width: 25px !important;
  }
  .center-creator-img {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .input-img4 {
    position: absolute;
    bottom: 30px;
    right: 10px;
  }
  .exclusivecontent .font-xl {
    margin-left: 350px !important;
  }
  .homepage-accordion .accordion-button {
    font-size: 20px !important;
  }
  .homepage-accordion .accordion-body {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 700px) {
  .menu {
    right: 0;
    width: 200px;
  }
  .sidebar {
    position: absolute;
    width: 50% !important;
    z-index: 10;
    display: none;
  }
  .sidebar-dashboard {
    width: 42% !important;
  }
  .feed-chat {
    position: absolute;
    width: 50% !important;
    z-index: 10;
    right: 0;
    display: none;
  }
  .modal-body {
    width: 82vw !important;
  }
  .exclusivecontent .font-xl {
    margin-left: 470px !important;
  }
  .center-creator-img {
    top: 38% !important;
  }
}

@media screen and (max-width: 576px) {
  .message-sent .bg-message,
  .message-receive .bg-message {
    font-size: 12px !important;
  }
  .nav-brand {
    margin-left: -45px;
  }
  .font-base {
    font-size: 14px !important;
  }
  .font-xl {
    font-size: 24px !important;
  }
  .font-lg {
    font-size: 18px !important;
  }
  .exclusivecontent-wrapper {
    margin: 0px 10px !important;
  }

  .font-md {
    font-size: 16px !important;
  }

  .exclusivecontent .font-xl {
    margin-left: 650px !important;
    font-size: 16px !important;
  }
  .exclusivecontent .font-lg {
    font-size: 14px !important;
  }
  .exclusivecontent .font-xs {
    font-size: 10px !important;
  }

  .top1 {
    padding: 35px 0 !important;
  }
  .accordion-button {
    font-size: 16px !important;
  }
  .bg-blur1,
  .bg-blur1 {
    display: none;
  }
  .username-nav {
    display: none !important;
  }
  .font-xxl {
    font-size: 24px !important;
  }
  .featured .font-xxl {
    font-size: 24px !important;
  }
  .featured .font-md1 {
    font-size: 12px !important;
  }
  .main-btn a {
    font-size: 12px !important;
  }
  .featured a {
    font-size: 12px !important;
  }
  .font-md1 {
    font-size: 16px !important;
  }
  .text-base {
    font-size: 12px !important;
  }
  .circle {
    height: 50px;
    width: 50px;
  }

  .creator .text-width {
    max-width: 250px;
  }

  .like-section {
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #324158;
    border-top: 1px solid #b5bac3;
  }

  .like-section img {
    height: 20px !important;
    width: 20px !important;
  }
  .more-info {
    top: 10px;
    right: 15px;
  }
  .feed-title .profile-name {
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -2%;
  }

  .feed-title .designation {
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -2%;
  }
  .post-text p {
    font-size: 14px;
  }
  .sidebar-icon-width {
    height: 20px !important;
    width: 20px !important;
    /* margin-left: 10px !important; */
  }
  .chat-side-icon img {
    height: 20px !important;
    width: 20px !important;
  }
  .sidebar {
    position: absolute;
    width: 70% !important;
    z-index: 10;
    display: none;
  }
  .sidebar-dashboard {
    width: 55% !important;
  }
  .sidebar {
    padding-top: 0.5rem !important;
  }
  .feed-chat {
    position: absolute;
    width: 70% !important;
    z-index: 10;
    right: 0;
    display: none;
  }

  .subscription-managemnet-wrapper {
    border-bottom: 1px solid #b5bac3;
    padding: 10px 0rem;
  }
  .subscription-cancel {
    padding: 0px !important;
  }
  .payment-history {
    overflow-x: auto;
  }
  .input-field {
    width: 100%;
  }
  .modal {
    height: 100vh !important;
  }
  .modal-body {
    width: 90vw !important;
    z-index: 10;
  }
  .signin a span {
    font-size: 12px !important;
  }
  .signin-content p {
    font-size: 12px !important;
  }
  .signin img {
    height: 13px !important;
  }
  .modal-body .font-xxl {
    font-size: 20px !important;
  }
  .right-0 {
    right: 0px;
  }
  input[type="checkbox"] {
    transform: scale(1);
  }
  .support-accordion .accordion-button {
    font-size: 12px !important;
  }

  .or {
    font-size: 12px !important;
    margin-top: -10px;
  }
  .signup-logo {
    margin-left: -20px !important;
  }
  .center-creator-img {
    top: 47% !important;
  }
}

@media screen and (max-width: 425px) {
  .nav-icon-p {
    display: none !important;
  }
  .nav-icon1 img {
    margin-right: 0px !important;
  }
  .p-40 {
    padding: 20px !important;
  }
  .sidebar {
    position: absolute;
    width: 80% !important;
    z-index: 10;
    display: none;
  }

  .feed-chat {
    position: absolute;
    width: 85% !important;
    z-index: 10;
    right: 0;
    display: none;
  }
  .sidebar ul {
    padding: 0px;
  }
  .more-info {
    top: 10px;
    right: 10px;
  }
  .subscription-management-tile h6 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0px;
  }

  .exclusivecontent .font-xl {
    font-size: 16px !important;
    margin-left: 700px !important;
  }
  .center-creator-img {
    top: 40%!important;}
}
